/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --primary: #f4b400;
    --dark: #111;
    --light: #fff;
}

body {
    background: #f5f5f5;
    color: #333;
}

/* HEADER */
header {
    background: var(--dark);
    padding: 20px 0;
}

.container {
    width: 90%;
    margin: auto;
}

.logo {
    color: var(--primary);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: var(--primary);
}

/* HERO */
.hero {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url('https://images.ctfassets.net/09muo917z9ra/6KC0i3JNADbyVpNXeOiiqE/468e28c55ea8ef0ccf2dc4eef046d50d/FB_IMG_1771985446589.jpg');
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.btn {
    background: var(--primary);
    padding: 12px 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* SECTIONS */
section {
    padding: 70px 0;
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: var(--dark);
}

/* SERVICES GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: var(--dark);
    color: white;
    text-align: center;
    padding: 25px 0;
}

/* WHATSAPP BUTTON */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    font-size: 30px;
    padding: 15px 18px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 999;
}

/* RESPONSIVE */
@media(max-width:768px){
    .hero h1 {
        font-size: 32px;
    }
  }
